body{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans",Arial, Helvetica, sans-serif;
}

/* Navbar Editing */
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #316ebf;
}

.navbar ul{
    color: black;
    display: flex;
    list-style: none;
    gap: 3vw;
}

.navbar ul a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    
}

/* navbar hover effects */
.navbar h2:hover{
    transform: scale(1.2);
}

.navbar ul a:hover{
    padding: 6px;
    background-color: rgb(70, 139, 236);
    border-radius: 3px;
}



/* Main Content Editings */

.content{
    display: flex;
    flex-wrap: wrap;
}

.left{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 90vh;
}

.left p{
    padding-top: 3vw;
    padding-left: 6vw;
    font-size: 3.1rem;
    margin: 0px;
}


#Business{
    padding-top: 8vw;
    font-size: 4rem;
    font-style: italic;
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: typing 3s steps(120,end),blink 10s step-end infinite;
}

@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 15ch;
    }
}

@keyframes blink{
    100%{
        border-color: transparent;
    }
}


#Cons{
    color: #004aad;
    padding-top:0px;
    font-weight: 650;
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: typing 3s steps(120,end),blink 3s step-end infinite;
}

@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 15ch;
    }
}

@keyframes blink{
    100%{
        border-color: transparent;
    }
}

#des{
    font-size: 1.3rem;
    
}



.left_button{
    margin-left: 6.1vw;
    margin-top: 2vw;
    background-color: rgb(35, 35, 241);
    font-size: 1.3rem;
    font-weight: 570;
    padding: 10px;
    border-radius: 5px;

}

.left_button a{
    color: white;
    text-decoration: none;
}

.left_button:hover{
    background-color: rgb(60, 60, 230);
}



.right{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 90vh;

}

.right img{
    margin: 0% 0% 0% 0%;
    width: 90%;
    height: 90%;
}

.meeting2{
    width: 90%;
    margin-left: 20px;
    margin-top: 28px;
}

    .Empowering1{
    font-weight: 550;
    overflow: hidden;
    font-style: italic;
    margin: 3.3rem 0rem 0rem 6rem;
    font-size: 3.9rem;
    animation: typing 3s steps(120,end),blink 3s step-end infinite;

}

@keyframes typing{
    from {
        width: 0ch;
    }
    to{
        width: 15ch;
    }
}

@keyframes blink{
    100%{
        border-color: transparent;
    }
}

.business2{
    overflow: hidden;
 animation: typing 2s steps(120,end),blink 3s step-end infinite;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to{
        width: 20ch;
    }
}

@keyframes blink{
    100%{
        border-color: transparent;
    }
    
}
.Empowering2{
    margin: 1rem 0rem 0rem 9.7rem;
    color: #a035bb;
    padding: 0% 0% 0% 5%;    
    }



.des2{
    font-size: 1.4rem;
    margin: 2% 0% 0% 12%;
    

}

.meeting{
    width: 100%;
    height: auto;
}

.right-button {
    margin: 2rem 0rem 0rem 9rem;
    font-size: 1.5rem;
    background-color: #4815df;
    padding: 8px;
    border-radius: 7px;
}

.right-button a{
    background-color: #4815df;
    color: white;
    text-decoration: none;
}

.right-button:hover{
    background-color: #4380d1;
}

.right-button a:hover{
    background-color: #4380d1;
}




/* for phone screen */
@media (max-width: 475px) {
    body{
        font-size: 16px;

    }
    .navbar {
        flex-direction: column;
        padding: 1vw;
        background-color: rgb(44, 231, 153);
    }
    .navbar h2{
        color: #004aad;
        margin: 10px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 1vw;
    }

    .navbar ul li a:hover{
        background-color: rgb(77, 239, 174);
        color: white;
    }

    .content {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: auto;
    }
    

    #Business{
        font-size: 2.7rem;
    }
    
    #Cons{
        font-size: 2.7rem;
    }

    #des{
        font-size: 1.2rem;
    }
    .left p {
        margin: 0px;
        font-size: 2rem;
        padding-left: 9vw;
    }

    .left_button {
        margin-top:30px;
        margin-left: 9vw;
        font-size: 1.0rem;
    }

    .right img {
        margin: 0px;
        width: 100%;
    }
}

.Empowering1{
    font-size: 2.2rem;
    margin: 5% 0% 0% 10%;
}

.Empowering2{
    margin: 0% 0% 0% 6%;
    font-size:2.2rem;
}

.des2{
    font-size:  1.2rem;
}

.right-button {
    margin: 2rem 0rem 0rem 5rem;
    font-size: 1.1rem;
    
}